.title1 {
    text-align: center;
    color: #f7fff8;
    font-weight: 700;
    font-size: 40px;
}

.title2 {
    text-align: center;
    color: #f7fff8;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 500;
}

.tableContainer button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.wrapper_all {
    justify-content: center;
    display: flex;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    width: 60%;
    position: relative;
    border-radius: 30px;
    padding: 20px;
}

.ecopoint {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 15px;
}

.btnCloseModal, .btnConfirmModal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 255, 248);
    color: #000000;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 40px;
    flex-wrap: nowrap;
    flex: 1; 
    margin: 0 10px; 
}

.btnConfirmModal:hover {
    background-color: #66c469;
}

.btnCloseModal:hover {
    background-color: rgb(160, 160, 160);
}

.btnConfirmModal {
    background-color: #a7eca9;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: linear-gradient(to bottom right, #4c809e, #396427);
    padding: 20px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    position: relative;
    max-height: 90vh; 
    overflow-y: auto;
}

.modalText {
    line-height: 1.8;
    margin-bottom: 20px; 
}

.icon_wrapper {
    display: flex; 
    justify-content: space-between;
    margin-left: 20px;
}

.icon {
    font-size: 20px;
    margin-top: -4px;
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.2s;
    color: rgb(249, 255, 248);
}

.icon_edit {
    font-size: 18px;
    margin-top: -3px;
    margin-right: 15px;
    cursor: pointer;
    transition: color 0.2s;
    color: rgb(249, 255, 248);
}

.icon:hover {
    color: rgb(160, 160, 160);
}

.loader {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 50px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal_title {
    color: #f7fff8;
    margin-top: 0;
    text-align: center;
    font-size: 28px; 
}

.modalDetails {
    margin-bottom: 20px;
    color: #ffffff;
}

.modalItem {
    margin-bottom: 12px; 
    line-height: 1.6; 
}

.modalSubtitle {
    margin-top: 12px;
    font-weight: bold;
}
  
.modalList {
    list-style-type: none;
    padding-left: 0;
}
  
.modalListItem {
    margin-bottom: 4px;
}

.modalLoading {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 20px;
}
  
