
input, select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
.title1 {
    text-align: center;
    color: #f7fff8;
    font-weight: 700;
    font-size: 40px;
}

.title2 {
    color: #f7fff8;
    font-weight: 700;
    font-size: 22px;
    margin-left: 2%;
    margin-bottom: 25px;
}

.wrapper_all {
    justify-content: center;
    display: flex;
}
  
.wrapper {
    background-color: rgba(255, 255, 255, 0.2);
    width: 70%;
    position: relative;
    border-radius: 30px;
    padding: 10px;
    padding-bottom: 16px;
}
  
.filter_section {
    display: flex;
    gap: 20px;
    margin-top: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3); 
    width: 96%;
    margin-left: 2%;
    margin-bottom: 15px;
}

.location_dot_button {
    background: #3D88A8;
    border: none;
    border-radius: 10px;
    color: #f7fdff;
    font-size: 24px;
    padding: 10px 15px;
    cursor: pointer;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.tag {
    background-color: #C6DECA;
    color: #1F6686;
    border-radius: 20px;
    padding: 8px 16px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}

.tag:hover {
    background-color: rgb(203, 234, 250);
}

.tag_selected {
    background-color: #1F6686;
    color: #C6DECA;
}

.tag_selected:hover {
    background-color: #397896;
}
  
.ecopoints_section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
  
.card {
    background-color: rgba(3, 37, 0, 0.3);
    border-radius: 8px; 
    padding: 16px; 
    margin: 10px; 
    width: 200px; 
    text-align: center; 
}
  
.card h2 {
    font-size: 1.5em;
}
  
.card p {
    margin: 8px 0;
}
  
.no_ecopoints {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 20px;
    margin-bottom: 12px;
}
  