.App-footer {
    background-color: transparent; 
    text-align: center;
    padding: 10px;
    height: 50px; 
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: fixed; 
    left: 10%; 
    bottom: 0;
    width: 80%; 
    border-top: 1px solid rgba(255, 255, 255, 0.60); 
}

.footer-description {
    color: #ffffff;
    font-size: 16px;
}