.socialMedias {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.socialMedia {
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    transition: color 0.3s;
    margin: 0 8px; 
}

.youtube-class:hover {
    color: rgba(255, 0, 0, 0.7);
}

.instagram-class:hover {
    color: #ff3a7cc2;
}

.facebook-class:hover {
    color: #47639ec4;
}