.container {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.containerAuth {
    width: 350px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 40px;
    border-radius: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title1 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.titleAuth {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 30px;
}

.container .inputField {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px auto;
}

.inputField input {
    width: 90%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
}

.inputField input::placeholder {
    color: #fff;
}

.inputField .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
}

.iconEmail,
.iconPassword {
    color: #e5e6df;
    font-size: 26px;
}

.btn {
    background-color: rgb(249, 255, 248);
    height: 40px;
    margin-bottom: 10px;
    width: 100%;
    position: relative;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #89c273; 
}

.hidden {
    display: none;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.card {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin: 0;
    color: #fff;
    font-size: 18px;
}

