html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom right, #1775ac, #85a329);
  color: white; 
  background-attachment: fixed;
}

.App-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
  margin-bottom: 40px;
}