html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #1775ac, #85a329);
  color: white; 
}

h1 {
  text-align: center;
  color: #f7fff8;
  font-weight: 700;
  font-size: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
}

.filter-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 20px;
}

.filter-input {
  background: transparent;
  border: 1px solid #ffffff;
  padding: 20px;
  border-radius: 30px;
  width: 250px;
  height: 5px;
  color: #ecfff1;
  font-size: 16px;
  margin-bottom: 10px;
  
  &::placeholder {
    color: #add8b7;
    font-size: 16px;
  }
}

.clear-filters-button {
  margin-top: -6px;
  margin-left: -55px;
  background: transparent; 
  border: none; 
  color: #e0f5dd; 
  cursor: pointer; 
  font-size: 20px; 
  transition: color 0.3s; 
}

.clear-filters-button:hover {
  color: #ff9090; 
}

.card {
  background-color: #1a932e; 
  border-radius: 8px; 
  padding: 16px; 
  margin: 10px; 
  width: 200px; 
  text-align: center; 
}

.card h2 {
  font-size: 1.5em;
}

.card p {
  margin: 8px 0;
}

.button {
  background-color: #4f8ab8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.button:hover {
  background-color: #2d6780;
}

.button-container {
  text-align: center;
  padding: 20px;
}