h1, h2, h3 {
    color: #f7fff8;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 24px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 28px;
}

p {
    text-align: justify;
}

.wrapper {
    background-color: rgba(0, 0, 0, 0.2);
    width: 50%;
    left: 23%;
    position: relative;
    border-radius: 30px;
    padding: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px; 
}

.form-group {
    margin-bottom: 20px; 
}

label {
    display: block;
    font-weight: 600;
    color: #f7fff8;
    margin-bottom: 7px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: #f7fff8;
    transition: border-color 0.3s; 
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #3282b8;
    outline: none;
}

.radio-group {
    display: flex;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.button {
    background-color: rgb(249, 255, 248);
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    width: 30%;
    padding: 12px 24px; 
    border: none;
    border-radius: 12px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #286089; 
}

.required {
    color: rgb(255, 0, 0);
    font-size: 16px;
    font-weight: bolder;
}

.disabled {
    background-color: rgb(189, 189, 189);
    border-color: #858585;
}